
/*
  This file is used for all of your global styles and CSS variables.
  Check here https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties for more info on using CSS variables.
*/
:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --sl-color-primary-600: rgb(92 134 255);
  --sl-panel-background-color: #5c86ff1f;
}

html, body {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {

  html,
  body {
    background-color: #0f1118;
    color: white;
  }
}

@media (prefers-color-scheme: light) {

  html,
  body {
    background-color: white;
    color: black;
  }
}


